/* общий стиль */
html {
  scroll-behavior: smooth;
}

header {
  background-color: white;
  color: white;
  background-size: cover;
  background-position: center;
  padding: 10px 0;
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo a {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #977676; /* Цвет логотипа */
}

.logo a:hover {
  text-decoration: none;
  color: #333;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 0;
  margin: 0;
  align-items: center; /* Align items vertically */
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #977676; /* Цвет ссылок в меню */
  font-size: 20px;
}

nav ul li a:hover {
  text-decoration: none;
  color: #333;
}

nav button {
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
}

nav button:hover {
  background-color: #977676; /* Цвет кнопки "записаться" при наведении */
  color: white;
}

main {
  padding: 20px;
  text-align: center;
}

/* окно с контактами */
.popup {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  text-align: center;
  position: relative;
}

.contact-photo {
  position: relative;
}

.contact-photo img {
  width: 100%;
  height: auto;
}

.social-icons {
  position: absolute;
  top: 140px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-icons a img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.social-icons a img:hover {
  transform: scale(1.1);
}


/* Стили для блока "о нас" */
.about-us {
  background-color: #f5daca;
  padding: 0px;
  width: 100%;
  text-align: center;
  margin: 0px;
  margin-top: -25px; /* Убирает белый промежуток */
}

.about-us-header {
  text-align: center;
  font-size: 48px;
  line-height: 1.5;
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
  margin: 0px;
}

.about-us h2 {
  margin-top: 0;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0px;
}

.about-us-link {
  color: #977676; /* Цвет текста */
  text-decoration: none; /* Убрать подчеркивание */
  padding: 10px; /* Внутренние отступы */
  transition: color 0.3s ease; /* Плавный переход цвета */
  cursor: pointer; /* Изменение курсора на указатель */
}

.about-us-link:hover {
  color: #007bff; /* Цвет текста при наведении */
  text-decoration: underline; /* Подчеркивание при наведении */
}

.about-us p {
  font-size: 24px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 50px;
}

.signature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.signature img {
  width: 180px;
  height: 120px;
  margin-top: -60px;
  margin-left: 50%;
  margin-bottom: 50px;
}

/* подвал */
footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  width: 100%;
  margin-top: -25px; /* Убирает белый промежуток */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo {
  text-align: left;
}

.footer-logo a {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white; /* Цвет логотипа */
}

.footer-logo a:hover{
  text-decoration: none;
  color: #977676;
}

.footer-text {
  text-align: center;
  flex: 1;
}

.footer-social-icons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.footer-social-icons a img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.footer-social-icons a img:hover {
  transform: scale(1.1);
}
